@font-face {
  font-family: 'KPLSynt';
  src: url('../fonts/KPLSyntTrial-Headline.woff');
  font-weight: 300;
}
@font-face {
  font-family: 'KPLSynt';
  src: url('../fonts/KPLSyntTrial-Regular.woff');
  font-style: normal;
}
@font-face {
  font-family: 'KPLSynt';
  src: url('../fonts/KPLSyntTrial-Italic.woff');
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  font-family: 'KPLSynt', serif;
}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: calc(100vw - 2rem);
  left: 1rem; top: 0.5rem;
  z-index: 200;
}
p, h3 {
  font-size: 1.6rem;
  max-width: 70%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}
h3 + p, p + h3 {
  margin-top: 1em;
}
header a {
  font-size: 1.6rem;
  justify-content: flex-end;
  text-align: right;
  -webkit-font-smoothing: antialiased;
}
header h1, header a {
  flex: 1;
}
a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
p + p {
  margin-top: 1em;
}
p span {
  display: none;
}
p a {
  text-decoration: none;
  color: black;
  display: block;
  line-height: 1.1;
}
h3 {
  font-family: 'KPLSynt', serif;
  text-align: center;
  font-weight: 300;
}
p:hover span {
  display: block !important;
}
a:hover {
  color: #ccc;
}
h1 {
  font-family: 'KPLSynt', serif;
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
p {
  padding-left: 0.5rem;
}
h2 {
  font-size: 2.5vw;
  line-height: 1.1;
}
main h1 {
  font-size: 9.25vw;
  line-height: 0.85;
  text-align: center;
  text-transform: uppercase;
  -webkit-column-count: 1;
  width: 100%;
  max-width: 90vw;
}
main h1:not(:last-of-type) {
  margin-bottom: 0.5em;
}

figure {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 3;
  background-size: 55vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  pointer-events: none;
}

section {
  display: flex;
  flex-direction: column;
}
section.spacer {
  height: 100vh;
}
section.initial {
  position: -webkit-sticky;
  position: sticky;
  top: 0; height: 100vh;
  left: 0; width: 100vw;
  align-items: center;
  justify-content: center;
}
section.call {
  position: relative;
  top: 0;
  padding: 8rem 0;
  background: white;
}
