.blocks {
}
.block-type-code {
}
.block-type-gallery {
  figure {
  }

  ul {
  }
  li {
    list-style: none;
  }
}
.block-type-heading {
}
.block-type-image {
}
.block-type-line {
}
.block-type-list {
}
.block-type-markdown {
  // p {
  //   text-align: justify;
  //   hyphens: auto;
  //   & + p {
  //     margin-top: 1.2rem;
  //   }
  // }
}
.block-type-quote {
}
.block-type-table {
}
.block-type-text {
}
// .block-type-video {
//   .video,
//   .img {
//     position: relative;
//     display: block;
//     --w: 1;
//     --h: 1;
//     padding-bottom: calc(100% / var(--w) * var(--h));
//     background: var(--color-black);
//   }
//   .img img,
//   .video iframe {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     border: 0;
//   }
//   .img[data-contain] img {
//     object-fit: contain;
//   }
//   .img-caption,
//   .video-caption {
//     padding-top: 0.75rem;
//     line-height: 1.5em;
//   }
// }
.block-type-video {
  margin: auto;
  display: table;
  -webkit-filter: none;
  filter: none;
  width: 100%;

  // @media (max-width: 768px) {
  //   width: 90%;
  // }
  figure {
    position: relative;
    // overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    /* Then style the iframe to fit in the container div with full height and width */
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
    figcaption {
      display: table-caption;
      caption-side: bottom;
    }
  }
}
.block-type-image {
  margin: auto;
  display: table;
  -webkit-filter: none;
  filter: none;
  width: 100%;
  figure {
    display: table;
    margin: auto;
    img {
      // max-height: 80%;
      // max-width: 90%;
      margin: auto;
      display: table;
      -webkit-filter: none;
      filter: none;
    }
    figcaption {
      display: table-caption;
      caption-side: bottom;
      // text-align: center;
    }
  }
}
