// PAGE BREAK POINTS:;
$mobile: (768px);
$tablet: (768px);
$table_portrait: (992px);
$laptop: (1500px);
$desktop: (1920px);

$global-font-family: arial, sans-serif;
$global-font-size: 16px;
$global-line-height: 1.2;
$global-font-weight: 700;
$global-main-margin: 4vh;

// $global-xxlarge-font-size: ;
// $global-xlarge-font-size: ;
// $global-large-font-size: ;
// $global-medium-font-size: ;
// $global-small-font-size: ;

// $global-primary-font-family: ;
// $global-primary-font-weight: ;
// $global-primary-text-transform: ;
// $global-primary-letter-spacing: ;
// $global-primary-font-style: ;

// $global-secondary-font-family: ;
// $global-secondary-font-weight: ;
// $global-secondary-text-transform: ;
// $global-secondary-letter-spacing: ;
// $elobal-secondary-font-stvle: ;
@media (max-width: $mobile) {
  $global-main-margin: 2vh;
}

$global-gap-width: 14px;
$global-backgrond-color: rgba(254, 252, 243, 1);

:root {
  --backgroundColor: #fefcf3;
  --mixBlendColor: #c5c5c5;
  // font sizes
  --bigFont: calc(1rem + 0.5vw);
  --normalFont: 1rem;
  --smallFont: 0.875rem;
  @media (max-width: $mobile) {
    --bigFont: ;
  }
}
