.no-mobile {
  @media screen and (max-width: 668px) {
    display: none;
  }
}

.mobile-only {
  @media screen and (min-width: 668px) {
    display: none;
  }
}
.shop {
  padding: 5.6em 4rem 5.6em 0;

  @media screen and (max-width: 668px) {
    padding: 5.6em 1rem 5.6em 0;
  }

  &-about {
    padding-bottom: 5.6em;
    p {
      max-width: 100%;
    }
  }
  &-container {
    font-size: var(--font-small);
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 668px) {
      grid-template-columns: repeat(1, 1fr);
    }
    --gutter: 1rem;
    grid-column-gap: var(--gutter);
    gap: var(--gutter);

    //   padding: var(--gutter) calc(var(--gutter)) 0 var(--gutter);
    li {
      display: flex;
      flex-direction: column;
    }
    figure {
      // width: 30rem;
    }
    .product-title {
      // font-style: italic;
    }
  }
}

.sub-title-books {
  font-size: 1rem;
}

ul.editors {
  margin: 0;

  li.editor {
    display: inline;
    font-family: "DinSynt";
    &:before {
      content: ", ";
    }
    &:after {
      content: " ";
    }
    &:last-child:before {
      content: "and ";
    }
    &:first-child::before {
      content: "Edited by ";
    }
  }

  li.author {
    display: inline;
    font-family: "DinSynt";
    &:before {
      content: ", ";
    }
    &:after {
      content: " ";
    }
    &:last-child:before {
      content: "and ";
    }
    &:first-child::before {
      content: "by ";
    }
  }
}

.product {
  transition: 0s;
  opacity: 1;
  display: block;
}

.link-container {
  // display: flex;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.link-container:hover {
  & .info {
    // opacity: 1;
    visibility: visible;
  }
  & .product {
    opacity: 0;
  }
}

.info {
  .text {
    text-align: center;
    p {
      text-transform: uppercase;
    }
  }
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 2;
  visibility: hidden;
}

.product-container {
  min-height: 100vh;
  font-size: var(--font-small);
  padding: 5.6em 4rem 5.6em 0;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-template-areas: "text text image";
  --gutter: 1rem;
  grid-column-gap: var(--gutter);
  column-gap: var(--gutter);
  // mobile
  @media screen and (max-width: 668px) {
    padding: 5.6em 1rem 5.6em 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "title title title"
      "image image image"
      "text text text";
  }
  li {
    display: flex;
    flex-direction: column;
  }
  .title {
    text-transform: uppercase;
    // font-size: 6vw;
  }
  .text {
    grid-area: text;
  }
  .product-title {
    grid-area: title;
  }
  .image {
    grid-area: image;
    padding: 0 0 1rem 0;
  }

  figure {
    // width: 30rem;
  }
  // .product-title {
  //   font-style: italic;
  // }
}

.gallery {
  line-height: 0;
  columns: 3;
  column-gap: 14px;
  img {
    max-width: 100%;
  }
  margin-right: 4rem;
}
.gallery li {
  display: block;
  margin-bottom: 14px;
  break-inside: avoid;
}
@media screen and (min-width: 60rem) {
  .gallery {
    columns: 3;
  }
}

// Figures in Grid from blocks
figure.figuregrid,
picture.figuregrid,
figuregrid {
  margin: 0;

  .img[data-contain="false"] img {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .video,
  .img {
    position: relative;
    display: block;
    --w: 1;
    --h: 1;
    padding-bottom: calc(100% / var(--w) * var(--h));
    --background: var(--yellow);
    background: var(--background);

    &.auto {
      // position: unset;
      // display: unset;
      --w: 1;
      --h: 1;
      padding-bottom: 0;
      --background: var(--yellow);
      background: var(--background);
    }
  }

  .img img,
  .video iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 0;
    --opactity: 0.75;
    &:hover {
      opacity: --opacity;
      cursor: pointer;
    }
  }
}
