@font-face {
 font-family: 'DinSynt';
 src: url('../fonts/DinamoSynt-Regular.woff');
 font-style: normal;
}
@font-face {
  font-family: 'DinSynt';
  src: url('../fonts/DinamoSynt-Oblique.woff');
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 1.1vw;
  -webkit-appearance: none;
  @media (max-width: 670px) {
    font-size: 18px;
  }
  --font-body: 1.8rem;
  --font-mid: 2.8rem;
  --font-icon: 7rem;
  --font-lge: 9.25vw;
  --font-small: 0.85rem;
  @media (max-width: 670px) {
    --font-mid: 1.4rem;
    --font-body: 1rem;
  }
}

body {
  font-family: 'DinSynt', serif;
  line-height: 1.15;
  .about main {
    margin-top: 6rem;
    max-width: 65%;
    margin: 7rem auto 7rem;
  }
}

.hide {
  display: none;
}

em, i {
  font-style: italic;
  font-style: 300;
}

.pane {
  width: 100vw;
  height: 100vh;
  background: white;
  position: fixed;
  z-index: 250;
  display: none;
  &.open {
    display: block;
  }
  &-inner {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
      max-width: 60%;
      img {
        max-width: 100%;
        display: block;
      }
    }
  }
}

.pane-close {
  font-size: var(--font-body);
  font-weight: 400;
  position: fixed;
  top: 1rem; right: 1rem;
  color: black;
  text-transform: uppercase;
  line-height: 1;
  z-index: 250;
}

figcaption {
  font-size: 1rem;
  margin-top: 1rem;
  text-align: left;
  line-height: 1.1;
  a {
    text-transform: none;
    border-bottom: 1px solid;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: calc(100vw);
  left: 0; top: 0;
  padding: 1rem;
  background: white;
  box-shadow: 0px 11px 16px 0px rgba(255,255,255,1);
  z-index: 200;
  transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  &.scrolled {
    background: white !important;
    box-shadow: 0px 11px 16px 0px rgba(255,255,255,1) !important;
  }

  h1, a {
    // flex: 1;
  }
  h1 {
    font-family: 'DinSynt', serif;
    font-weight: 400;
    font-size: var(--font-body);
    text-transform: none;
    /* -webkit-font-smoothing: antialiased; */
  }
}

[data-display="essay"] {
  header {
    background: transparent;
    box-shadow: none;
  }
}

@media (max-width: 670px) {
  dl {
    margin-bottom: 1.1em;
  }
  .people {
    flex-direction: column !important;
  }
  .call p:last-of-type {
    max-width: 100% !important;
    font-size: 0.65rem !important;
  }
}

[data-template="home"] {
  padding-top: 6.6em;
  max-width: 58%;
  margin: 0 auto;
  padding-bottom: 4.4em;
}
[data-template="essay"] h2 {
  font-size: var(--font-body);
}
[data-template="essay"] p {
  padding-left: 0;
}
p, h3 {
  font-size: 1.8rem;
  font-weight: 400;
  @media(max-width: 960px) {
    font-size: 2.1rem;
  }
}
p, h1, h2, figcaption, .footnotes {
  font-family: 'DinSynt';
}
h3 + p, p + h3 {
  margin-top: 1em;
}
sup {
  font-size: 0.8rem;
  line-height: 1;
  + sup {
    margin-left: -0.25em;
  }
  @media (max-width: 670px) {
    font-size: 0.5rem;
  }
}

nav {
  font-size: var(--font-body);
  font-weight: 400;
  display: inline-block;
  justify-content: flex-end;
  text-transform: uppercase;
  text-align: right;
  a {
    font-family: 'DinSynt';
  }
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

p {

  & + p {
    margin-top: 1em;
  }
  span {
    display: none;
  }
  a {
    text-decoration: none;
    color: black;
    display: inline;
    text-transform: none !important;
    line-height: 1.2;
    &:hover {
      border-bottom: 1px solid;
    }
    & + h2 {
      margin-top: 4.4em;
    }
  }
  &:hover span {
    display: block !important;
    @media(max-width: 960px) {
      display: none !important;
    }
  }
}

h2 {
  font-size: 2.5vw;
  line-height: 1.2;
  margin: 1.1em 0 1.1em 0;
  text-transform: uppercase;
  text-align: center;
  text-indent: 0 !important;
  // max-width: 60%;
}

h3 {
  /* font-family: 'DinSynt', serif; */
  text-align: center;
  font-weight: 300;
}

blockquote {
  margin: 2.2em 2em 2.2em 12em;
  max-width: 50%;
  @media (max-width: 670px) {
    margin: 1em 0 1em 3em;
    max-width: 100%;
  }
  p {
    max-width: 100% !important;
  }
}
main h1 {
  font-size: 8vw;
  font-weight: 300;
  line-height: 0.85;
  text-align: center;
  text-transform: uppercase;
  -webkit-column-count: 1;
  width: 100%;
  max-width: 90vw;
  &:not(:last-of-type) {
    margin-bottom: 0.5em;
  }
}

.colophon, .acknowledgement {
  margin-top: 2.2em;
}
.colophon {
  margin-top: 4.4em;
}

.essay-extra {
  font-size: var(--font-body);
  display: block;
  margin-top: 2em;
  span {
    a {
      &:hover {
        border-bottom: 1px solid;
      }
    }
    &:nth-of-type(2) {
      &:before {
        content: ', ';
      }
    }
  }
}

.title-block {
  padding-bottom: 4em;
  height: 100vh;
  position: relative;

  h1 {
    font-family: 'DinSynt', serif;
    font-weight: 400;
    margin: 0 auto;
    text-transform: none;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }
}

.title, .author {
  text-transform: uppercase;
  font-weight: 300;
}
.title {
  display: block;
  margin-bottom: 0.5em;
  line-height: 1;
}
.text-block .title,
.text-block .subtitle {
  font-size: var(--font-mid);
  text-align: center;
  line-height: 1.05;
  // display: block;
}

.subtitle, .author {
  margin: 0 auto;
  display: block;
  line-height: 1;
  @media (max-width: 670px) {
    max-width: 85%;
  }
}

.text-block {
  padding: 6.6em 4em;

  .title {
    margin-bottom: 0.5em;
  }

  h2 {
    text-indent: 3em;
  }
  p, p + p, h2, h3 {
    max-width: 72%;
    @media(max-width: 960px) {
      max-width: 85%;
    }
    @media(max-width: 670px) {
      max-width: 100%;
    }
  }
  p + p {
    text-indent: 3em;
    margin: 0;
  }
  figure {
    display: table;
    max-width: 680px;
    margin: 6em auto;
    @media(max-width: 960px) {
      max-width: 100%;
      pointer-events: none;
    }
    &:hover img {
      filter: grayscale(0);
    }
    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
      filter: grayscale(1);
      // position: absolute;
      // top: 50%; left: 50%;
      // transform: translate(-50%, -50%);
    }
    figcaption {
      display: table-caption;
      caption-side: bottom;
      text-align: left;
      line-height: 1.2;
    }
  }
  @media (max-width: 670px) {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 4em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.footnotes {
  margin: 2.2em 0;
  margin-left: 1em;
  margin-top: 4em;
  column-count: 1;
  max-width: 85%;
  display: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  @media(max-width: 670px) {
    display: block;
  }
  hr {
    display: none;
  }
  ol li {
    font-size: 1.1rem;
    break-inside: avoid;
    @media(max-width: 960px) {
      font-size: 0.6rem;
    }
  }
}

[data-template="about"] .text-block {
  padding-bottom: 8em;
}


dl {
  font-family: 'DinSynt';
  font-size: var(--font-body);
  line-height: 1.1;
  break-inside: avoid;
  dt {
    text-transform: uppercase;
  }
  dd + dt {
    margin-top: 1.1em;
  }
}


header a:hover,
.pane-close:hover {
  cursor: pointer;
  border-bottom: 1px solid;
}

.pane-inner p {
  max-width: 100%;
}

ul {
  list-style: none;
  margin-left: 4rem;
  margin-top: 1em;
  @media (max-width: 670px) {
    margin-left: 1em;
  }
  li {
    font-size: 1.8rem;
    line-height: 1.1;
    font-weight: 400;
    &:first-of-type {
      text-transform: uppercase;
    }
  }
}

figure.wipe {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 3;
  background-size: 52vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  pointer-events: none;
  transform: translateZ(0);
}

hr {
  display: none;
}

.people {
  max-width: 80%;
  margin-top: 2em;
  margin-left: 4em;
  display: flex;
  flex-direction: row;
  dl:first-of-type {
    margin-right: 2em;
  }
}

@media (max-width: 640px) {
  figure.wipe {
    z-index: 5;
    background-attachment: initial;
  }
}

section {
  display: flex;
  flex-direction: column;
}
section.spacer {
  height: 100vh;
}
section.initial {
  position: -webkit-sticky;
  position: sticky;
  top: 0; height: 100vh;
  left: 0; width: 100vw;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}
section.call {
  position: relative;
  top: 0;
  justify-content: center;
  align-items: center;
  background: white;
  height: 100vh;

  p {
    a {
      border-bottom: 1px solid;
    }
  }
}

header {
  h1 {
    display: flex;
    align-items: flex-start;
    @media (max-width: 670px) {
      width: 80vw;
    }

    nav {
      height: 1.2em;
      overflow-y: hidden;
      flex: none;
      text-align: left;
      transition: height ease-in-out 0.5s;

      &.hover {
        height: auto;
      }
      &:hover {
        cursor: pointer;
      }
      .issue {
        display: table;
        padding-left: 0.25rem;
        border-bottom: 1px solid transparent;
        a {
          text-transform: none !important;
          border-bottom: 0 !important;
          .title {
            display: inline-block;
            margin-bottom: 0;
          }
        }
        &:hover {
          border-bottom: 1px solid !important;
        }
      }
    }
  }
}

[data-template="issue"], [data-display="home"] {
  .title-block {
    background: white;
    padding-top: 8em;
    // max-width: 100%;
    // margin: 0 auto;
    @media (max-width: 670px) {
      padding-top: 4em;
    }
    h1 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: var(--font-body);
      position: static !important;
      top:inherit;
      left: 0;
      transform: none;
      @media (max-width: 670px) {
        font-size: 1.05rem;
      }
    }
    ul {
      margin-left: 0;
      li {
        line-height: 1.2;
      }
    }
  }
  .text-block {
    padding-bottom: 0;
    p {
      max-width: 70% !important;
      @media (max-width: 670px) {
        max-width: 100% !important;
      }
    }
    .title {
      font-size: var(--font-body);
    }
  }
  .issue-items {
    margin-bottom: 4em;
    ul {
      font-size: var(--font-body);
      @media (max-width: 670px) {
        font-size: 1.05rem;
      }

      li {
        font-size: inherit;
        @media (max-width: 670px) {
          line-height: 1.3;
        }
        a {
          text-transform: none;
        }
      }
    }
  }
  h1 {
    font-weight: 300;
  }
  .title {
    // text-transform: none !important;
  }
}

figure {
  position: relative;
  &:hover {
    cursor: pointer;
  }

  &.expand {
    background: black;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    z-index: 210;
    img {
      padding: 4em 0;
      margin: 0 auto;
      filter: grayscale(0);
    }
    .figure-close {
      display: block;
    }
  }
}

.figure-num {
  display: block;
  text-align: center;
  padding-bottom: 1em;
}

.text-bibliography {
  text-indent: -1.5em;
  margin-left: 0;
  max-width: 72%;
  column-count: 3;
  column-gap: 40px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  ul {
    margin-left: 0;
    margin-top: 0;
    margin-right: 4px;
    li {
      font-family: 'DinSynt';
      font-size: var(--font-small);
      break-inside: avoid;
      &:first-of-type {
        text-transform: none;
      }
    }
  }
}

.text-bios {
  margin-top: 1.1em;
  margin-left: 5.5em;
  max-width: 50%;
  margin-bottom: 4.4em;
  p {
    position: relative;
    font-family: 'DinSynt';
    font-size: 1.4rem;
    padding-right: 4em;
    max-width: 100%;
    a {
      border-bottom: 1px solid;
    }
    & + p {
      text-indent: 0;
      margin-top: 1em;
    }
  }
}

.issue-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
  &-close {
    position: fixed;
    top: 0.5em; right: 1em;
    font-size: var(--font-body);
    font-family: 'DinSynt';
    @media (max-width: 670px) {
      top: 1em;
    }
    &:hover {
      cursor: pointer;
    }
  }
  img {
    max-height: 74vh;
    @media (max-width: 670px) {
      max-height: 35vh;
    }
  }
}

.abstract-block {


  .abstract-content {
    position: relative;
    font-family: 'DinSynt';
    padding-right: 4em;
    margin-bottom: 3.3em;
    margin-top: 1em;
    margin-left: 5.5em;
    max-width: 55%;
    .shadow {
      box-shadow: inset 0px -20px 20px 0px rgba(255, 255, 255, 1);
      height: 6.5em;
      width: 100%;
      z-index: 100;
      position:absolute;
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
    }
    @media (max-width: 670px) {
      margin-left: 0;
      max-width: 100%;
      padding-right: 1em;
    }
    .abstract {
      &.hidden {
        max-height: 6.5em;
        overflow: hidden;
        z-index: 0;
      }
    }
    p {
      max-width: 100%;
      font-size: 1.4rem;

      @media (max-width: 670px) {
        font-size: 0.8rem;
      }
      & + p {
        // text-indent: 0 !important;
      }
    }
  }
}

[data-display="issue"], [data-display="home"] {
  .text-block {
    padding-bottom: 0;
  }
  .title-block {
    background: white;
    max-width: 72%;
    margin: 0 auto;
    padding-top: 0 !important;
    @media (max-width: 670px) {
      max-width: 100%;
    }
    h1 {
      position: relative;
    }
    &-issue {
      font-size: var(--font-body);
      text-align: center;
      margin-top: 4em;

      .title {
        font-size: var(--font-body);
        display: inline !important;
      }
    }
  }
  .issue-items {
    ul {
      margin-left: 0;
      li {
        text-indent: -2em;
        margin-left: 2em;
        a {
          text-transform: none !important;
          br {
            display: none;
          }
        }
      }
    }
    .title {
      font-size: var(--font-body);
      display: inline;
    }
  }
}

.author {
  text-transform: none !important;
}

.menu-trigger {
  &:hover {
    border-bottom: 1px solid !important;
    cursor: pointer;
  }
}

.inline-footnote {
  // hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.inline-footnote__num {
  display: block;
  margin-left: 2em;
  text-indent: 0;
}

.inline-footnotes {

  .inline-footnote {
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;

    &__num {
      display: block;
      margin-left: 2em;
      text-indent: 0;
    }

  }
  &__container {
    font-size: var(--font-small);
    width: 100%;
    max-width: 17vw;
    position: absolute;
    top: 0;
    left: 75vw;
    padding-right: 1em;
    @media(max-width: 960px) {
      display: none !important;
    }
  }
}
blockquote {
  .inline-footnotes__container {
    left: calc(75vw - 14em);
  }
  blockquote {
    .inline-footnotes__container {
      left: calc(62vw - 14em);
    }
  }
}

blockquote {
  & + blockquote {
    margin-top: -2em;
    @media(max-width: 670px) {
      margin-top: 0;
    }
    p {
      text-indent: 2em;
    }
  }
}


p span {
  display: block !important;
}

[data-display="home"] .text-block {
  padding-bottom: 0 !important;
}



@media (max-width: 736px) {
  .pane-inner figure {
    max-width: 57%;
    margin-top: 3rem;
  }
  body.about main {
    margin-top: 6rem;
    max-width: 85%;
  }
}
@media (max-width: 670px) {
  p, h1, h3, header h1, header a, ul li, .pane-close, dd, dt , dl, .text-bios p {
    font-size: 1rem;
  }
  .text-bios {
    margin-left: 0;
    max-width: 100%;
    p {
      padding-right: 0;
    }
  }
  .text-bibliography {
    column-count: 1;
    max-width: 100%;
    margin-left: 1.25em;
    ul li {
      font-size: 0.6rem;
    }
  }
  figcaption {
    font-size: 0.7rem;
    line-height: 1.2;
  }
  header h1 {
    flex: 1.5;
    line-height: 1.2;
    flex: 8;
  }
  header nav {
    flex: 1;
    width: auto;
    @media (max-width: 670px) {
      // display: none;
    }
  }
  header h1 nav {
    display: block;
    .title {
      display: none !important;
    }
  }
  p, h3 {
    max-width: 90%;
  }
  figure.wipe {
    background-size: 32vh;
  }
  .pane-inner figure {
    max-width: 58%;
    margin-top: 1rem;
  }
  body.about main {
    margin-top: 6rem;
    max-width: 95%;
  }
}

@media (max-width: 568px) {
  .pane-inner figure {
    max-width: 57%;
    margin-top: 3rem;
  }
}

@media (max-width: 480px) {
  .pane-inner figure {
    max-width: 90%;
    margin-top: 3rem;
  }
  figcaption {
    font-size: 0.6rem;
    line-height: 1.2;
    margin-top: 0.75em;
    bottom: 1rem;
    left: 1rem;
    right: 0.5rem;
    text-align: left;
  }
  .figure-num {
    font-size: 0.6rem;
  }
}

h2:last-of-type {
  // margin-top: 4em;
  // max-width: 100%;
  // break-before: always;
  // display: none;
}

h2 + h3 {
  margin-top: -1.1em;
}

.hide-mobile {
  @media (max-width: 480px) {
    display: none;
  }
}

@import './print.scss';
